/* Estilos para el HEAD de la tabla */
table.dataTable thead {background-color:rgb(74, 190, 123);color: azure;}

/* Estilos para los botones de paginacion */
.page-item.active .page-link {
    background-color: rgb(74, 190, 123) !important;
    color: azure !important;
    /* border: 1px solid black; */
}
.page-link {
    color: black !important;
}